<%- include("./partials/header") %> 
<div class="container">
		<div class = "row" id="swaplst">
			<%if(searchFlag==0){%>
			<%pics.forEach(function(image){ %>
			<div class = "col-lg-3 mb-4">
				<div class="card" style="width: 14rem;">
					<a href="<%=image['urls'].small%>" target="_blank"><img class="card-img-top" src="<%=image['urls'].small%>" alt="Card image cap"></a>
					 <p class="card-img-title"> <%=image.alt_description%></p>
				</div>
			</div>
				
		<%});%>
			<%}else if(searchFlag==1){%>
				<%pics.forEach(function(image){ %>
					<div class="card" style="width: 14rem;">
						  <img class="card-img-top" src="<%=image%>" alt="Card image cap">

					</div>
				<%});%>
			<%}%>
			</div>
	</div>
		
<%- include("./partials/footer") %> 